@import '../../index.css';

.container {
  min-width: 94%;
  margin: 0 3%;
  padding: 10px 0;
  background-color: #4f41a688;
  border-radius: 10px;
  max-height: 100vh;
  margin-bottom: 10px;
  font-size: 1.2em;
}

.space {
  margin: 0 5px;
  margin-bottom: 10px;
}